extends layout

block content
  div.container
    h1= title 
      small &nbsp;&nbsp;better than Luke's app
    div
      a(href='/fights') Add a fight
    each p in tablePages
      div
        a(href='/tables/'+p[0])= p[1]

