doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    script(src='/jquery/dist/jquery.js')
    script(src='/lodash/dist/lodash.js')
    script(src='/react/react-with-addons.js')
    block content
